{% extends 'base.html' %}

{% block head %}
<!--Following is the header tag mainly displaying the button, mic icon and the search bar-->

<header>
    <h1><a href="/">Gif Search</a></h1>
    <div class="search">
        <form class="search-box">
            <input type="text" name="query" class="search-input"></input>
            <a class="search-speak" href="/speak" title="speak"></a>
            <button class="search-text" type="submit">Search</button>
        </form>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="content">
    {% if not gifs %}
    <!--If no gifs are found, the default error page is shown stating that no related Gifs were found-->
        {% include 'error.html' %}
    {% endif %}
    {% for gif in gifs %}
    <!--For each gif in the list of 12 gifs, use the Gif.html document to structure them-->

        {% include 'gif.html' %}
    {% endfor %}
</div>
{% endblock %}