{% extends 'base.html' %}

{% block head %}
<header>
    <h1><a href="/">Gif Search</a></h1>
    <div class="search">
        <form class="search-box" action="/results">
            <input type="text" name="query" class="search-input"></input>
            <a class="search-speak" href="/speak" title="speak"></a>
            <button class="search-text" type="submit">Search</button>
        </form>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="content">
    {% if not gifs %}
        <div class="home">
            <h1>Welcome To Gif Search</h1>
            <p>If you're having any trouble with the page, simply press the main title to get back here for help.</p>
            <div class="home-row">
                <h3>How To Use This Website</h3>
                <ol>
                    <li>Think of gifs you want to see</li>
                    <li>Hit the mirophone to search for gifs through speech</li>
                    <li>Enter text and hit search to search for gifs in a more traditional way</li>
                    <li>Enjoy your GIFS!!!</li>
                </ol>
            </div>
        </div>
    {% endif %}
    {% for gif in gifs %}
        {% include 'gif.html' %}
    {% endfor %}
</div>
{% endblock %}

<!-- TODO: For each gif, include the 'gif.html' template to display it -->
