{% extends 'base.html' %}

{% block head %}
<!--Following is the header tag mainly displaying the button, mic icon and the search bar-->

<header>
    <h1><a href="/">Gif Search</a></h1>
    <div class="search">
        <form class="search-box">
            <input type="text" name="query" id="search-input" class="search-input"></input>
            <!-- <a class="search-speak" href="/speak" title="speak"></a> -->
            <button class="search-text" type="submit">Search</button>
        </form>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="content" id="content">
    {% include 'gif.html' %}

</div>
{% endblock %}